.detailProd-big {
    height:550px;
    width:100%;
    /* background-color: blue; */
    display:flex;
    

}
.detailProd-left{
    /* background-color: blue; */
    height:500px;
    width:80%;
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.img-dp-left{
    /* background-color:green; */
    height:450px;
    width:80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.img-dp-left img{
    box-shadow: 5px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.detailProd-right{
    /* background-color: pink; */
    height:500px;
    width:80%;
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.inf-dp-right{
    /* background-color:green; */
    height:450px;
    width:80%;
}
.namaHP {
    height:50px;
    width:100%;
    /* background-color:blue; */
}
.namaHP p {
    color:black;
    font-size: 30px;
}
.harga { 
    height:30px;
    width:100%;
    margin-left:10px;
    /* background-color:blue; */
}
.harga p {
    color:black;
    font-size:20px;
}
.sisa-unit {
    /* background-color: red; */
    width:20%;
    margin-left:10px;
    margin-top:20px;
}
.gradeType{
    /* background-color: red; */
    width:100%;
    margin-left:10px;
    margin-top:20px;
}
.gradeType p {
    font-weight:500;
    color:black;
    
}

.ins-gradeType{
    display:flex;
    /* margin-left:10px; */
    width:100%;
    /* background-color:red; */
    height:100px;
}
.box-ins{
    border:2px solid gray;
    width:100%;
    margin-right:10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity:0.4;
    /* background-color:yellow;  */
}
.box-ins-stor{
    /* background-color: blue; */
    width:100%;
    height:40px;
    display:flex;
      
}
.storage{
/* background-color: red; */

display:flex;
flex-direction: column;

}
.storage p{
    font-weight:500;
    color:black;
    font-size:20px;
    margin-left:10px;
}
.memory{
    /* background-color: pink; */
    height:40px;
    width:20%;
    margin-right:20px;
    margin-left:10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border:2px solid gray;
    opacity: 0.5;
}
.memory p {
    margin-top:5px;
}
.memory1 {
    /* background-color: red; */
    height:40px;
    width:20%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border:2px solid gray;
    opacity:0.5;
}

.memory1 p {
    margin-top:5px;
}
/* .memory:hover {
    background-color: #0984e3;
    color:white;
}

.memory1:hover{
    background-color: #0984e3;
    color:white;
    cursor: pointer;
} */
.pilihan-type {
    height:60px;
    width:30%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border:2px solid gray; */
    border: 2px solid green;
}
.pilihan-stor {
    height:40px;
    width:20%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border:2px solid gray; */
    border: 2px solid green;

}
.icns-gt{
    position: relative;
    left:10px;
    top:-5px;
}
.icns-gt-1{
    position: relative;
    top:-25px;
}

.icns{
    position: relative;
    top:-10px;
    left:30px;
}
.icns-1{
    position: relative;
    top:-40px;
}
.btn-1{
    /* background-color:red; */
    width:100%;
    height:100px;
    display:flex;
    justify-content: center;
}
.btn-kiri{
    /* background-color:yellow; */
    height:80px;
    width:100%;
}

.btn-kanan {
    /* background-color:green; */
    height:80px;
    width:100%;
}
.btn-ins{
    height:50px;
    width:30%;
    border: 2px solid #0984e3;
    margin-left:80px;
    margin-top:50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0984e3;
    cursor: pointer;
}

.btn-ins p{
    color:white;
    font-weight:500;
    font-size:20px;
    margin-top:10px;
}
.btn-ins p:hover {
    color:pink;
}

.description{
    /* background-color:red; */
    width:100%;
    height:300px;
    display: flex;
    justify-content: center;
    margin-top:50px;
    
}
.desc-kiri{
    /* background-color:blue; */
    width:65%;
    height:300px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border:2px solid gray;
    margin-left:15px;
    
    
}
.desc-kiri p{
    /* color:gray;
    font-size:30px;
    font-weight:800; */
    
    /* border-bottom:1px solid gray; */
}
.desc-word{
    margin-left:100px;
    margin-top:-30px;
    font-size:30px;
    font-weight:800;
    border-bottom:3px solid #0984e3;;
    width:38%;
    color:gray;


}
.desc-isi{
    font-size:15px;
    color:black !important;
    margin-left:40px;
    margin-right:20px;
    /* border-bottom:1px solid gray; */
    line-height: 25px;

    
}
.desc-kiri-bawah {
    background-color:pink;
    height:100px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.desc-kiri-bawah h1{
    color:#0984e3;
}
.desc-kanan{
    /* background-color:green; */
    width:100%;
    height:300px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border:2px solid gray;

}
.desc-kanan p{
    color:gray;
    font-size:30px;
    margin-left:50px;
    margin-top:-0px;
   
}


.desc-kanan-1{
    /* background-color:yellow; */
    width:100%;
    height:300px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border:2px solid gray;
    

}
.desc-kanan-1 p{
    color:gray;
    font-size:30px;
    margin-left:50px;
    margin-top:-0px;
   
}
.desc-kanan-ins{
    margin-top:0px;
}
.spek{
    /* background-color:blue; */
    width:87%;
    height:30px;
    margin-left:60px;
    margin-top:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}
.spek-ins {
/* background-color:pink; */
height:30px;
width:100%;
display:flex;
justify-content: center;
}
.spek-ins2 {
    /* background-color:pink; */
    height:30px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    }
.spek-ins2 p{
    font-size:15px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    margin-left:-20px;
    border-bottom: 1px solid gray;
    font-weight:600;
}
.spek-ins p{
    font-size:15px;
    color:black;
    margin-left:-30px;
    border-bottom: 1px solid gray;
    /* background-color:pink; */
    height:23px;
    font-weight:800;
}
.spek-word{
    /* {borderBottom:'1px solid gray', width:'40%', fontWeight:'800' */
width:35%;
font-weight:800;
/* background-color:yellow; */
margin-left:50px;
position: relative;
left:100px;
border-bottom:3px solid #0984e3;


}
.spek-word-1{
    /* {borderBottom:'1px solid gray', width:'40%', fontWeight:'800' */
width:35%;
font-weight:800;
/* background-color:yellow; */
margin-left:50px;
position: relative;
left:100px;
top:-20px;
border-bottom:3px solid #0984e3;

}
.tab-row-1 {
    /* background-color:red; */
    width:50%;
}
.tab-row-2{
    /* background-color:red; */
    width:70%;
}

.description-text{  
    font-size:20px;
}
.card-table{
    background-color:red;
    width:100%;
}

.scroll-div{
    margin-left:10px;
}
.cursor-nav{
    cursor: pointer;
}
.cursor-nav:hover{
    color:black !important;
    background-color:pink;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}