.div-hp{
    border:1px solid black;
    height:30px;
    width:150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #2e3b55;
    color:white;
    cursor: pointer;
    margin-bottom:10px;
}

.ikon-plus2{
    font-size:28px;
    margin-right:10px;
    margin-left:10px;
    cursor: pointer;
}

.ikon-gry2{
    font-size:25px;
    color:gray;
    margin-left:10px;
    margin-right:10px;
    cursor: pointer;
    }

    .loading2{
        width:50%;
        height:30px;
        /* background-color: blue; */
        margin-left:10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        border: 1px solid black;
        display:flex;
        justify-content: center;
        
    }
    .loading3{
        width:50%;
        height:30px;
        /* background-color: blue; */
        margin-left:10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        border: 1px solid black;
        display:flex;
        justify-content: center;
        margin-right: 5px;
    }

    .kupon{
        border:1px solid gray;
        width:100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }
    .cart-kanan{
        /* background-color:yellow; */
        width:90%;
        border:2px solid gray;
        height:350px;
        margin-top:20px;
        margin-left:50px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .cart-kanan-bawah2{
        /* border:2px solid gray; */
        height:250px;
       
    }

    .cart-kanan{
        /* background-color:yellow; */
        width:90%;
        border:2px solid gray;
        height:280px;
        margin-top:20px;
        margin-left:50px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .cart-kanan-bawah-bwh{
        width:90%;
        height:60px;
        background-color:orange;
        margin-left:20px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        /* border-bottom:3px solid gray; */
    }
    .cart-kanan-bawah-bwh p {
        margin-top:10px;
    }

    .cart-kanan-bawah-ats p {
        font-size:20px;
        font-weight:600;
    }